.f{
    margin: 0px;
    padding: 0px;
    background-color: rgb(241, 241, 241);
}
.hola{
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color: rgb(107, 134, 143);
}
#fonfo{
  background-color: rgb(107, 134, 143);
}
